.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(/img/1530524.jpg);
}

.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(/img/Beautiful-Nature-Wallpapers-For-Desktop-Hd-Hd-1080P-12-HD-Wallpapers.jpg);
}

.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(/img/6906500-lake-mountain-landscapes.jpg);
}
